<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiba ITB</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section id="app" class="w-full">
        <!-- start header -->
        <header class="header fixed top-0 left-0 w-full flex justify-center bg-white z-30">
            <div class="header__inner flex justify-between lg:justify-start w-full lg:max-w-7xl mx-auto px-4">
                <div class="header--logo relative">
                    <h1><a href="index.html"><img src="assets/images/logo_12kiba.png" alt="Kiba ITB logo"></a></h1>
                </div>
                <div class="header__menu hidden lg:flex justify-center items-center lg:ml-8">
                    <div class="header__menu--list" v-for="(item, key) in sideMenuList" :key="key">
                        <a :href="item.url">{{ item.label }}</a>
                    </div>
                </div>
                <!-- <div class="header__search hidden lg:flex justify-center items-center">
                    <form class="relative">
                        <input type="text" placeholder="Search" class="header__search--input">
                        <button type="submit" class="absolute header__search--icon"><img src="assets/images/ic-search.png" alt="icon-search"></button>
                    </form>
                </div> -->
                <div class="header__burger flex justify-center items-center cursor-pointer lg:hidden relative">
                    <img v-if="!sideMenuOpen" src="assets/images/burger.png" alt="burger-icon" @click="sideMenuOpen = true">
                    <img v-else src="assets/images/close.png" alt="close-icon" @click="sideMenuOpen = false">
                </div>
            </div>
        </header>
        <div class="header__side fixed flex justify-end min-h-screen lg:hidden w-full z-20" :class="{ show : sideMenuOpen }">
            <div class="header__side--overlay absolute w-full h-full" :class="{ show : sideMenuOpen }" @click="sideMenuOpen = false"></div>
            <div class="flex-col w-2/3 bg-white pt-16 relative">
                <!-- <div class="header__search flex justify-center items-center mb-4">
                    <form class="relative">
                        <input type="text" placeholder="Search" class="header__search--input">
                        <button type="submit" class="absolute header__search--icon"><img src="assets/images/ic-search.png" alt="icon-search"></button>
                    </form>
                </div> -->
                <div class="header__menu flex justify-center items-center flex-col">
                    <div class="header__menu--list w-2/3 text-center relative" v-for="(item, key) in sideMenuList" :key="key">
                        <a :href="item.url">{{ item.label }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->

        
        <!-- start portofolio -->
        <section class="heading w-full mt-24 lg:mt-40">
            <h2 class="font-heading font-bold text-4xl mb-4 lg:mb-6 text-center">Portofolio Directory</h2>
            <div class="bg-gray-200 w-full">
                <div class="w-full lg:max-w-7xl mx-auto flex justify-between items-center py-2 px-4 flex-wrap">
                    <div class="flex w-1/2 lg:w-1/3 justify-start">
                        <div class="bg-gray-400 text-white py-2 px-6 lg:px-8 rounded-3xl">Year</div>
                        <div class="py-2 px-6 lg:px-8 rounded-3xl">Project</div>
                    </div>
                    <div class="flex w-1/2 lg:w-1/3 justify-end lg:justify-center items-center">
                        <div class="font-bold mr-2 hidden lg:block">Filter:</div>
                        <div class="inline-block relative w-24 lg:w-32">
                            <select class="block appearance-none w-full bg-white px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                              <option>All</option>
                              <option>Mina</option>
                              <option>NayeonNayeonNayeon</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                          </div>
                    </div>
                    <div class="flex w-1/2 lg:w-1/3"></div>
                </div>
            </div>
        </section>
        <!-- end portofolio -->

        <!-- start portofolio -->
        <section class="portofolio w-full lg:max-w-7xl mx-auto pt-16 flex justify-center items-center flex-wrap">
            <div class="masonry w-full lg:px-6">
                <div class="masonry-item" v-for="i in dummyFoto">
                    <a href="#"><img :src="i" :alt="i" class="masonry-content"></a>
                </div>
            </div>
            <button class="font-text text-lg bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-16">
                See More
            </button>
        </section>
        <!-- end portofolio -->

        <!-- start footer -->
        <footer class="flex w-full lg:max-w-7xl mx-auto pb-16 flex-wrap lg:flex-nowrap px-4 mt-24">
            <div class="listing w-full lg:w-1/3 flex flex-wrap items-center mb-8 lg:mr-6">
                <img class="footer--image" src="assets/images/logo_itb.png" alt="logo-itb">
                <p class="font-body font-bold mt-4 lg:mt-8">Kelas Ilustrasi Buku Anak (KIBA)<br>Visual Communication, Fine Arts and Design Faculty<br>Bandung Institute of Technology</p>
            </div>
            <div class="listing w-full lg:w-1/3 flex flex-wrap items-center mb-8 lg:mr-6">
                <img class="footer--image" src="assets/images/logo_12kiba.png" alt="logo-itb">
                <p class="font-body mt-4 lg:mt-8">Gedung Center for Arts, Design, and Language (CADL)<br>Jl. Ganesha No. 10, Bandung<br>(022) 2500935</p>
            </div>
            <div class="listing w-full lg:w-1/3 flex flex-col items-start justify-center">
                <div class="flex items-center justify-center mb-4 lg:mb-8">
                    <img src="assets/images/icon-email.png" alt="instagram">
                    <p class="font-body font-bold ml-4">alamatemailxxx@gmail.com</p>
                </div>
                <div class="flex items-center justify-center">
                    <img src="assets/images/icon-ig.png" alt="instagram">
                    <p class="font-body font-bold ml-4">@kiba_itb</p>
                </div>
            </div>
        </footer>
        <!-- end footer -->


    </section>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>