<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiba ITB</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section id="app" class="w-full">
        <!-- start header -->
        <header class="header fixed top-0 left-0 w-full flex justify-center bg-white z-30">
            <div class="header__inner flex justify-between lg:justify-start w-full lg:max-w-7xl mx-auto px-4">
                <div class="header--logo relative">
                    <h1><a href="index.html"><img src="assets/images/logo_12kiba.png" alt="Kiba ITB logo"></a></h1>
                </div>
                <div class="header__menu hidden lg:flex justify-center items-center lg:ml-8">
                    <div class="header__menu--list" v-for="(item, key) in sideMenuList" :key="key">
                        <a :href="item.url">{{ item.label }}</a>
                    </div>
                </div>
                <!-- <div class="header__search hidden lg:flex justify-center items-center">
                    <form class="relative">
                        <input type="text" placeholder="Search" class="header__search--input">
                        <button type="submit" class="absolute header__search--icon"><img src="assets/images/ic-search.png" alt="icon-search"></button>
                    </form>
                </div> -->
                <div class="header__burger flex justify-center items-center cursor-pointer lg:hidden relative">
                    <img v-if="!sideMenuOpen" src="assets/images/burger.png" alt="burger-icon" @click="sideMenuOpen = true">
                    <img v-else src="assets/images/close.png" alt="close-icon" @click="sideMenuOpen = false">
                </div>
            </div>
        </header>
        <div class="header__side fixed flex justify-end min-h-screen lg:hidden w-full z-20" :class="{ show : sideMenuOpen }">
            <div class="header__side--overlay absolute w-full h-full" :class="{ show : sideMenuOpen }" @click="sideMenuOpen = false"></div>
            <div class="flex-col w-2/3 bg-white pt-16 relative">
                <!-- <div class="header__search flex justify-center items-center mb-4">
                    <form class="relative">
                        <input type="text" placeholder="Search" class="header__search--input">
                        <button type="submit" class="absolute header__search--icon"><img src="assets/images/ic-search.png" alt="icon-search"></button>
                    </form>
                </div> -->
                <div class="header__menu flex justify-center items-center flex-col">
                    <div class="header__menu--list w-2/3 text-center relative" v-for="(item, key) in sideMenuList" :key="key">
                        <a :href="item.url">{{ item.label }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->

        
        <!-- start heading -->
        <section class="heading w-full mt-24 lg:mt-40">
            <h2 class="font-heading font-bold text-4xl mb-6 text-center px-4">Shop</h2>
        </section>
        <!-- end heading -->

        <!-- start link -->
        <section class="link w-full pt-12 flex items-center justify-center">
            <a href="#" class="no-underline bg-gray-200 rounded-xl font-bold py-2 px-12">Link ke Digital Library ITB</a>
        </section>
        <!-- end link -->

        <!-- start work -->
        <section class="work w-full lg:max-w-7xl mx-auto pt-12 relative px-4 pb-24 lg:pb-40">
            <div class="w-full flex justify-start items-center flex-wrap">
                <div class="w:full lg:w-1/3 pb-6 lg:pr-6 listing-card" v-for="(item, index) in 8">
                    <a href="detail.html" class="no-underline">
                        <div class="flex items-center justify-center">
                            <div class="w-1/2">
                                <div class="w-full box-ratio" :style="{ 'background-image': 'url(' + 'https://unsplash.it/700/480?image='+item + ')' }"></div>
                            </div>
                            <div class="w-1/2 bg-white p-4">
                                <h4 class="font-text font-bold">Judul Blog 90 Huruf Lorem Ipsum Dolor sit Amet Consectetur Adipiscing Elit Maecenas Semper</h4>
                                <p class="mt-2">29 Mar 2021</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex mt-12 lg:mt-16 items-center justify-center">
                <span class="px-4 py-2 bg-gray-200 mx-1 font-bold cursor-pointer"><</span>
                <span class="px-4 py-2 bg-gray-200 mx-1 font-bold cursor-pointer" v-for="(item, key) in 3">{{ item }}</span>
                <span class="px-4 py-2 bg-gray-200 mx-1 font-bold cursor-pointer">></span>
            </div>
        </section>
        <!-- end work -->

        

        <!-- start footer -->
        <footer class="w-full py-12 px-6">
            <div class="w-full lg:max-w-7xl mx-auto flex flex-wrap lg:flex-nowrap">
                <div class="listing w-full lg:w-1/3 flex flex-wrap items-center mb-8 lg:mr-6">
                    <img class="footer--image" src="assets/images/logo_itb.png" alt="logo-itb">
                    <p class="font-body font-bold mt-4 lg:mt-8">Kelas Ilustrasi Buku Anak (KIBA)<br>Visual Communication, Fine Arts and Design Faculty<br>Bandung Institute of Technology</p>
                </div>
                <div class="listing w-full lg:w-1/3 flex flex-wrap items-center mb-8 lg:mr-6">
                    <img class="footer--image" src="assets/images/logo_12kiba.png" alt="logo-itb">
                    <p class="font-body mt-4 lg:mt-8">Gedung Center for Arts, Design, and Language (CADL)<br>Jl. Ganesha No. 10, Bandung<br>(022) 2500935</p>
                </div>
                <div class="listing w-full lg:w-1/3 flex flex-col items-start justify-center">
                    <div class="flex items-center justify-center mb-4 lg:mb-8">
                        <img src="assets/images/icon-email.png" alt="instagram">
                        <p class="font-body font-bold ml-4">alamatemailxxx@gmail.com</p>
                    </div>
                    <div class="flex items-center justify-center">
                        <img src="assets/images/icon-ig.png" alt="instagram">
                        <p class="font-body font-bold ml-4">@kiba_itb</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->


    </section>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>