/* reset */
body, html, p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #333333;
}
div {
    box-sizing: border-box;
}
hr {
    border-top: 1px solid #ccc;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: underline;
}

.font-heading {
    font-family: 'Rubik', sans-serif;
}

.font-text {
    font-family: 'Lato', sans-serif;
}


.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header--logo img{
    height: 90px;
}
.header__menu--list {
    margin-right: 40px;
}
.header__menu--list a {
    text-decoration: none;
}
.header__menu--list:last-child {
    margin-right: 0;
}
.header__search--input {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 2px 12px;
}
.header__search--icon {
    width: 14px;
    height: 14px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.header__side {
    top: 0;
    right: 0;
    transition: transform .4s cubic-bezier(.46,.54,.17,1),-webkit-transform .4s cubic-bezier(.46,.54,.17,1);
    transform: translateX(100%);
}
.header__side.show {
    transform: translateX(0%);
}
.header__side--overlay {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}
.header__side--overlay.show {
    opacity: 1;
    visibility: visible;
    transition: all .4s linear;
    transition-delay: .3s;
}

/* mobile */
@media screen and (max-width: 768px) {
    .header--logo img{
        height: 50px;
    }
    .header__menu--list {
        margin-right: 0px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .header__menu--list::before {
        content: '';
        position: absolute;
        width: 30%;
        height: 2px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background-color: #bbbbbb;
    }
}

/* Masonry */
.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 0;
}
.masonry-item {
    background-color: #eee;
    overflow: hidden;
}
.masonry-item a {
    display: block;
}

.masonry-item,
.masonry-item img {
    position: relative;
}

/* Swiper */
.swiper-button-prev, .swiper-button-next {
    background-size: cover;
    background-position: center;
}
.swiper-button-prev {
    background-image: url('../images/arr-left.png');
}
.swiper-button-next {
    background-image: url('../images/arr-right.png');
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px;
    left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px;
    right: auto;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #6d6d6d;
}
.horizontal-ratio {
    /* padding-bottom: 56.25%; */
    padding-bottom: 60%;
}
.vertical-ratio {
    padding-bottom: 70%;
}
.box-ratio {
    padding-bottom: 100%;
}
.listing:last-child {
    margin: 0;
}
.partnership-img {
    width: auto;
    height: 85px;
}
.footer--image {
    height: 74px;
    width: auto;
}
/* desktop */
@media screen and (min-width: 768px) {
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: -25px;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: -50px;
    }
    .partnership-img {
        height: 130px;
    }
}